<h2>{{local.selectSection.title}}</h2>
<div class="section-choose">
	<div class="section-choose-card">
		<a href="/classic">
			<img src="img/classic-card.png" alt="" class="card-img">
			<span class="card-name">Classic</span>
		</a>
	</div>
	<div class="section-choose-card">
		<a href="/person">
			<img src="img/person-card.png" alt="" class="card-img">
			<span class="card-name">Person</span>
		</a>
	</div>
	<div class="section-choose-card">
		<a href="/wide">
			<img src="img/wide-card.png" alt="" class="card-img">
			<span class="card-name">Wide</span>
		</a>
	</div>
	<div class="section-choose-card">
		<a href="/features">
			<img src="img/feature-card.png" alt="" class="card-img">
			<span class="card-name">Features</span>
		</a>
	</div>
	<div class="section-choose-card">
		<a href="/sandbox">
			<img src="img/sandbox-card.png" alt="" class="card-img">
			<span class="card-name">sandbox</span>
		</a>
	</div>
</div>